- title "Admin/Beta Tester"

#beta_tester
  #show
    = fieldset_for @beta_tester, 'Overview', :email, :active
    = fieldset_for @beta_tester, 'Access', :access_count, :last_accessed_at
    = fieldset_for @beta_tester, 'Feedback', :feedback

    #actions
      = link_to "Edit", edit_admin_beta_tester_path(@beta_tester)
      |
      = link_to "Destroy", [ :admin, @beta_tester ], :confirm => 'Are you sure?', :method => :delete
      |
      = link_to "View All", admin_beta_testers_path
