-title "Givey Admin System", false

#admin
  #index
    #copy.trans
      #dashboard= render :partial => 'dashboard'

      %h2
        So what we doing here?
        
      %p
        = link_to "Manage Non Profit Organizations (NPOs)", admin_npos_path

      %p
        = link_to "Manage NPO Categories", admin_categories_path

      %p
        = link_to "Manage Questions", admin_questions_path

      %p
        = link_to "Manage Beta Testers", admin_beta_testers_path

      %p
        = link_to "Manage Backgrounds", admin_backgrounds_path

      %p
        = link_to "Manage Facebook Errors", admin_fb_errors_path


:javascript
  var i = 1;

  function refresh() {
    window.setTimeout('handle_refresh()',1000)
  }

  function handle_refresh() {
    $('.next_update').text(30-i);
    i++;

    if(i>30) {
      i = 0;
      $('.next_update').text('NOW');
      $('#dashboard').load('admin/dashboard','',refresh());
    } else {
      refresh();
    }
  }

  $(document).ready(function() {
    refresh();
  });
  