%h3= "How others classified #{altruist_isnt_current_user ? @altruist.details.first_name : 'You'}"
- if @altruist.scorable?
  .spark_history= render :partial => 'shared/sparks', :collection => Spark.not_answered_by(current_user).with_uid(@altruist.uid).decided.order_by_latest
- else
  .not_enough.gray_trans
    - if altruist_isnt_current_user
      = "#{@altruist.details.first_name} needs more friends to #{display_classfied_gender}"
    - else
      You need more friends if you want to be classified.
    = link_to "Invite Them", '#', :id => "#{altruist_isnt_current_user ? 'fb_invite' : 'fb_invite_my_friends'}", :rel => ""

:javascript
  $(document).ready(function() {
    $('#fb_invite').click(function() {
      FB.ui(
         {
           method: 'feed',
           name: "How altruistic is #{@altruist.details.name}?",
           link: "#{current_user.referral_link}",
           caption: 'Givey.org',
           description: "I'm using Givey.org to see if any of my friends are the most altruistic people on Facebook.  It's pretty interesting.",
           message: "Does anyone else know #{@altruist.details.name}? Can you come to Givey.org to help me figure out #{@altruist.details.first_name}?"
         }
       );

      return false;
    });
    
    $('#fb_invite_my_friends').click(function() {
      FB.ui(
         {
           method: 'feed',
           name: "Do you think I'm super altruistic or, well, not?",
           link: "#{current_user.referral_link}",
           caption: 'Givey.org',
           description: "Come check out Givey.org to help find the most altruistic people on Facebook. It's a pretty cool social experiment and you may learn something about your friends -- or yourself :)",
           message: "I'm playing Givey.org but need friends to play so I can see how altruistic you think I am.  Can you give it a try?"
         }
       );

      return false;
    });
  });