- title "Most Altruistic Souls", false
#altruists
  #index.trans
    %h1 Most Altruistic Souls

    .display= page_entries_info @altruists, :entry_name  => 'altruists'

    - @altruists.each_with_index do |a,ndx|
      .altruist.fleft.row
        .fleft= image_tag a.profile.details.pic_square
        .fleft
          .name.cabin
            = link_to a.profile.details.name, altruist_path(a.profile.givey_token)
            %span.candidate
              supports
              %span.cause= a.npo.name
          .rank_score
            .score.cabin= "##{rank(ndx)}"
            .rank= " with #{pluralize(a.profile.score,'Altruism Point')}"
        
    .paginate
      = will_paginate @altruists