- title "Altruist - #{@altruist.details.name}", false

#altruist
  #show
    #copy
      .row.trans
        .fleft.pic.gray_trans= image_tag @altruist.details.pic_square
        .fleft.details
          .name.cabin
            = link_to image_tag("icons/facebook_64.png"), "http://www.facebook.com/profile.php?id=#{@altruist.uid}", :target => "_blank"
            = @altruist.details.name
            = "(You)" unless altruist_isnt_current_user
            
            - if @altruist.is_user? && @altruist.user.has_a_cause?
              %span.candidate
                supports
                %span.cause= @altruist.user.npo.name
          .score= "#{pluralize(@altruist.score,'Altruism Point')}"

      %table
        %tr
          %td
            - if altruist_isnt_current_user && !current_user.sparks.with_uid(@altruist.uid).decided.order_by_latest.empty?
              .you_said.trans= render :partial => 'you_said'
        
            .they_said.trans= render :partial => 'they_said'

          %td
            - if @altruist.is_user? && @altruist.user.has_a_cause?
              .npo.trans
                %h3= "About #{@altruist.user.npo.name}"
                .logo= image_tag @altruist.user.npo.logo(:thumb)
                .summary= @altruist.user.npo.summary
                .links
                  .facebook= link_to image_tag("icons/facebook_64.png"), @altruist.user.npo.facebook_url unless @altruist.user.npo.facebook_url.blank?
                  .twitter= link_to image_tag("icons/twitter_32.png"), @altruist.user.npo.twitter_name unless @altruist.user.npo.twitter_name.blank?
        
      
    
