.card.clickable{'givey:uid' => "#{profile.uid}", 'givey:spark_url' => "#{url_for(@spark)}"}
  .frame
    .box
      .top
        .profile_pic= image_tag profile.details.pic_square
        .name= profile.details.name
        - if @spark
          .remove_button= link_to '', defriend_spark_path(@spark, {:uid => profile.uid}), :remote => true, :confirm => "Are you SURE you want to remove this friend from Givey?  This will prevent them from appearing in the future and remove any previous altruism points you may have given them.", :title => "Remove #{profile.details.name} from your Givey"  

      - if stuff_to_display(profile)
        .sc_menu_wrapper
          .header
            RANDOM FACTOIDS
          .photos
            - random_photos(profile).each do |p|
              = image_tag p.src, :alt => p.caption 
          .stats
            .items
              - profile.details.keys.each_with_index do |k,ndx|
                - unless dont_include(profile, k)
                  .item(class="#{(ndx % 2 == 1) ? 'even' : 'odd'}")
                    .label= k.humanize
                    .value= display_value(profile, k)
      - else
        .nothing.sc_menu_wrapper
          .pic= image_tag profile.details.pic_big ? profile.details.pic_big : profile.details.pic

