%table{:width => "100%"}
  %tr
    %td.left
      = image_tag "spinner.gif", :id => "processing_spinner"
      = link_to image_tag("givey_logo.png", :title => "Givey.org"), root_url
    - if current_user
      %td.navs
        - if show_top_navs? 
          - unless current_user.scores_unlocked? || current_user.waiting? || current_user.needs_friends?
            .nav.cabin.classify= link_to "More Questions", sparks_path
          .nav.cabin= link_to "Highest Rated Altruists", altruists_path
          .nav.cabin= link_to "Top Causes", top_npos_path
          .nav.cabin
            = link_to_if current_user.scores_unlocked?, "Your Scores", altruist_path(current_user.profile.givey_token) do
              .locked{:title => "Your Scores Are Locked.  Share with friends to unlock", :class => "qtip"}
                = image_tag "icons/lock32.png", :title => "Your Scores Are Locked.  Share with friends to unlock", :class => "qtip" 
                Your Scores
          .nav.cabin
            = link_to_if current_user.friends_scores_unlocked?, "Your Friends Declassified", user_friends_path(current_user) do
              .locked{:title => "Your Friends Are Locked.  Answer More Questions", :class => "qtip"}
                = image_tag "icons/lock32.png"
                Your Friends Declassified
        - else
          #candidate_supporter_msg                
        
      %td.right
        .nav.cabin= link_to "Share", '#', :id => "header_share", :class => "fb_share"
        - if current_user && !hide_login_info?
          .nav.cabin= link_to "Log Out #{current_user.profile.details.first_name}", signout_path, :id => "log_out"
    - else
      %td.navs
        .nav.cabin= link_to "Highest Rated Altruists", altruists_path
        .nav.cabin= link_to "Top Altruist Causes", top_npos_path
      %td.right
        .nav.cabin= link_to "Share", '#', :id => "header_share", :class => "fb_share"
        %fb:like{:href => "http://www.givey.org", :show_faces => "false", :width => "100", :layout => "button_count" }
      
        
        
        