- title "Givey.org - Can you change the world?  Let's play."

- content_for :head do
  %meta{:content => "Givey.org", :property => "og:title"}/
  %meta{:content => request.url, :property => "og:url"}/
  %meta{:content => "http://#{APP_CONFIG[:domain]}/#{image_path('givey_logo_black.png')}", :property => "og:image"}/
  %meta{:content => "Who on Facebook is most likely to change the world?  Do you know which of your friends it might be?", :property => "og:description"}/
  %meta{:content => "Givey.org", :property => "og:site_name"}/
  %meta{:content => "website", :property => "og:type"}/
  %meta{:content => APP_CONFIG[:facebook]['api_id'], :property => "fb:app_id"}/

  :javascript
    $(document).ready(function() {
      var questionArray = [#{get_question_array}]
      
      window.setInterval(function(){
        $('.question').text(questionArray[Math.floor(Math.random()*questionArray.length)])
      },4000)
    });
    

#home
  #index
    #copy
      .trans
        #heading
          %h2= "#{Donation.count+20} people have given over #{number_to_currency(Donation.total)} to find the most (and least) altruistic person on Facebook."
        
          %h1 Maybe it's one of your friends?

        .row
          .fleft
            #facebook
              - unless production?
                %b Completely Anonymous & Secure
                .login_button= link_to image_tag('buttons/facebook_login.png'), facebook_oauth_url
                #not_user
              
            #main_points
              .secure.row
                .fleft= image_tag "icons/security.png"
                %p.fleft
                  %b Everything's private
                  Who you select for what is never revealed.
              
              .user.row
                .fleft= image_tag "icons/user.png"
                %p.fleft
                  %b No Posting Policy
                  We never post to anyone's wall unless asked.
              
              .heart.row
                .fleft= image_tag "icons/heart.png"
                %p.fleft
                  %b It's Darn Fun
                  Try it.  You might learn a thing or two about your friends
                
          #screen_shot.fleft
            %h3.question= Question.active.sort_by{rand}.first.name
                
      #npos.trans.scrollable
        .items
          - Npo.active.in_groups_of(8) do |group| 
            %div
              %table
                %tr
                  - group.each do |npo|
                    %td{:valign => "middle"}
                      .npo= image_tag npo.logo(:thumb) if npo
        
      #how_it_works.trans
        %h3 How Does Givey.org Work?
        
        %ol
          %li 
            %b We show you three friends.
            %p
              We pick three friends and ask you a seemingly random question.  You pick the 
              friend that best matches the question.
            
          %li 
            %b Every question counts
            %p
              Using a complex, top secret government altruism model, we score your friends 
              based on who you select and don't select.
            
          %li
            %b We combine the scores
            %p
              Once your friends have been "scored" by other people you have in common enough times,
              you and your friends can see what others (anonymously) think of them
            
          %li
            %b Join the movement
            %p
              Tell us about your favorite cause and why it matters to you.  Contribute $5 to hopefully 
              turn it into $5,000 if other altruistic souls (like yourself) also care about your cause.
            
            
          %li
            %b We hit five grand and turn over the keys
            %p
              Once $5,000 has been raised, we let the person with the highest combined altruism 
              score decide what to do with the money and start again.
            
          

      #logo
        = image_tag "givey_logo_large.png", :title => "Givey.org"
