- title "Givey.org - Can you change the world?  Let's play."

- content_for :head do
  %meta{:content => "Givey.org", :property => "og:title"}/
  %meta{:content => request.url, :property => "og:url"}/
  %meta{:content => "http://#{APP_CONFIG[:domain]}/#{image_path('givey_logo_black.png')}", :property => "og:image"}/
  %meta{:content => "Who on Facebook is most likely to change the world?  Do you know which of your friends it might be?", :property => "og:description"}/
  %meta{:content => "Givey.org", :property => "og:site_name"}/
  %meta{:content => "website", :property => "og:type"}/
  %meta{:content => APP_CONFIG[:facebook]['api_id'], :property => "fb:app_id"}/

  :javascript
    $(document).ready(function() {
      var questionArray = [#{get_question_array}]
      
      window.setInterval(function(){
        $('.question').text(questionArray[Math.floor(Math.random()*questionArray.length)])
      },3000)
    });
    

#home
  #index
    #copy
      .trans
        #heading
          %h2= "#{Donation.count} people have given over #{number_to_currency(Donation.total)} to find the most (and least) altruistic person on Facebook."
        
          %h1 How well do you know your friends?

        .row
          #facebook.fleft
            - unless production?
              %b Completely Anonymous & Secure
              .login_button= link_to image_tag('buttons/facebook_login.png'), facebook_oauth_url
              #not_user
              
            .secure.row
              .fleft= image_tag "icons/security.png"
              %p.fleft
                %b Secret
                Everything's private - you're 
                "friends" will never know what you clicked (unless you tell them).
              
            .user.row
              .fleft= image_tag "icons/user.png"
              %p.fleft
                %b No Posting Policy
                Nothing will be posted to anyone's wall unless you say so.
              
            .heart.row
              .fleft= image_tag "icons/heart.png"
              %p.fleft
                %b It's Darn Fun
                Try it.  You might learn a thing or two about your friends
                
          #screen_shot.fleft
            %h3.question= Question.active.sort_by{rand}.first.name
                
      #about.trans
        %h3 So What's This All About?
        
        %p
          Years ago a group of smart science people created something called the 
          = link_to "Five Factors Model", '#'
          of personality.  It's designed to help them, well, classify people by asking 
          crazy questions like "Are you bashful" and "Would you help an old woman cross the street."  
          
        %p
          A few years ago one of our founders started a non-profit for his daughter, who is 
          battling SMA, a terrible disease.  Since then he's met some incredible people and an 
          even more incredible number of other amazing non-profits
          
        %p
          A few months ago a site called CubeDuel launched to rate your co-workers.  It inspired us.
          We thought - "what if we could use Five Factors to figure out who our most altruistic friend is
          and give them some money to donate to a non-profit?"  Strange idea but here we are.
          
        %p
          So that's 
          %b the Givey.org movement.
          We're trying to band together and find the most altruistic people on the web.  We're also 
          asking for everyone to contribute (optionally) just $5 and everytime we hit $5,000 the 
          person with the highest "altruism score" will determine where the money gets donated.
      
      #logo
        = image_tag "givey_logo_large.png", :title => "Givey.org"
