#home
  #index
    #copy
      %h1.yanone 
        On January 18th a quest began to find the single person on Facebook 
        most likely to change the world.  
        
      %h2 The "chosen one" will be given $10,000 to donate as they see fit.
        
      %h1
        You've just become candidate #43, courtesy of your friend Josh Lippiner.
        
      %h2
        Josh pledged $5 in your honor.
        
      %h2
        Do you think you have what it takes to change the world?      

    #facebook
      - if current_user 
        = "Welcome #{current_user.name}!"
        =  image_tag @fb.me.metadata.connections['picture']
      - else 
        = link_to image_tag('buttons/facebook_login.png'), facebook_oauth_url
      
    #logo
      = image_tag "givey_logo.png", :title => "Givey.org"
