- title "Givey.org - Can you change the world?  Let's play."

#home
  #show
    #copy
      .trans
        %h1= "Your friend #{@user.name} is part of Givey.org.  You up for the challenge?"
      
        #cards.row
          .fleft.card
            = render :partial => '/games/card', :locals => {:challenger => @user.profile}
          .fleft.heart
            = image_tag "worldheart.gif"
          .fleft.card
            = render :partial => '/games/card', :locals => {:challenger => @user.official_game.winner}
      
        %h2= "If others agree with #{@user.name}, #{@user.official_game.winner.first_name} will be given $25,000 to split among whatever causes they want."
              
        %h2
          = "Should we give #{@user.official_game.winner.first_name} the money or do you have someone else in mind?"
          
        #friends.row

        - if launched?
          #facebook
            = link_to image_tag('buttons/facebook_login.png'), facebook_oauth_url
            #not_user
      
      #logo
        = image_tag "givey_logo_large.png", :title => "Givey.org"
