.trans
  %h3.beta BETA TESTER INFO - In case you're curious, this is what the Facebook posts will look like:

  %p
    Note: To see what someone would experience if they clicked on one of the links in the Facebook posts, you can 
    click on 
    = link_to "this link.", current_user.referral_link

  %h4 Your wall...
  
  .fbUIBlock.row
    .fleft.fbProfilePic
      = image_tag current_user.profile.details.pic_square
    .fleft.fbbody
      = link_to current_user.name, '#'
      %br
      = current_user.story

      .fbMessageBox.withPic
        %table
          %tr
            %td.pic= image_tag current_user.npo.logo(:thumb)
            %td
              .name= link_to "Givey.org", current_user.referral_link
              .caption= "Are you the most altruistic person on the web?"
              %p.description= "#{Donation.count+20} people have given #{number_to_currency(Donation.total)} to find (and give) to the most altruistic person on Facebook."
      .fbFooter
        = Time.now.strftime('%A at %I:%M%p')
        via Givey.org
        &#183;
        = link_to "Like", '#'
        &#183;
        = link_to "Comment", '#'
