<%= form_for @donation do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :game_id %><br />
    <%= f.text_field :game_id %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :donated_at %><br />
    <%= f.datetime_select :donated_at %>
  </p>
  <p>
    <%= f.label :wepay_id %><br />
    <%= f.text_field :wepay_id %>
  </p>
  <p>
    <%= f.label :transaction_id %><br />
    <%= f.text_field :transaction_id %>
  </p>
  <p>
    <%= f.label :event %><br />
    <%= f.text_field :event %>
  </p>
  <p><%= f.submit %></p>
<% end %>
