- title "Join The Movement."

#donation
  #new
    #copy.trans
      %h1= "#{Donation.count+20} people have joined the movement contributing over #{number_to_currency(Donation.total)}."
      
      - if current_user.npo.logo.exists?
        #charity_logo= image_tag current_user.npo.logo(:medium)
      
      = render :partial => (current_user ? 'user' : 'not_user')
      
      #actions
        = link_to 'Join The Movement. Contribute $5', APP_CONFIG[:givey]['donate_url'], :class => "button", :rel => "I'm pulling for #{current_user.npo.name}"
        %br
        = link_to "Skip the Donation", sparks_path

      #wall.row
        - if Donation.count > 10
          - Donation.random(300).each do |donation|
            .pic= image_tag donation.user.profile.details.pic_square, :title => donation.user.name
        - else
          - current_user.friends.random(200).each do |friend|
            .pic.fleft= image_tag friend.profile.details.pic_square, :title => friend.profile.details.name 

  #wall
    = render :partial => 'facebook_sample_posts'
