.trans
  %h1.title Of these friends, who's more likely to save the world?
      
  %h2.subtitle
    - if finals?
      Finals!
    - else 
      = "Round #{@game.duels.played.size+1} of #{total_battles}."
      
#playing_field= render(:partial => "challenger", :collection => @challengers)

- if allow_skip?
  #skip
    = link_to "Skip (I don't know ANY of these candidates)", '#', :id => "replace_cards", :confirm => "We give you ONE skip just in case you find yourself staring at three people and truly have no idea who any of them are.  Are you SURE you want to use it now?"  

#winners
  .winner
  = render :partial => "winners"
