.row
  .fleft.sidebar
    .npo
      .card
        .frame
          .box
            .top
              .name.cabin= @npo.name

            .sc_menu_wrapper
              .header
                = "ABOUT #{@npo.name}"
                
              .story
                .logo= image_tag @npo.logo.url(:medium)
                .summary= @npo.summary
                .link
                  = link_to "Learn more about this non-profit.", @npo.website, :target => "_blank"
                
  .fleft.main_panel
    %h2 You're almost done, but
    %h2 Let's not forget why we're doing this...
    
    %table.story
      %tr
        %td.open
          = image_tag "icons/quote_open.png"
        %td.middle
          = @npo.story
        %td.close
          = image_tag "icons/quote_close.png"

    #actions.row
      .fright
        = link_to "Continue >>", 'javascript:return false;', :class => "button close"
