- title "#{current_user.name}'s \"Who Will Save The World\"", false

- content_for :head do
  :javascript
    var finals = #{@total_duels == 1 ? true : false};
    
- if @game.winner
  - content_for :feet do
    :javascript
      $(document).ready(function() {
        activate_overlay();
      });
      
#game
  #show{:rel => "#{duel_game_path(@game)}", 'givey:winners' =>  "#{winners_game_path(@game)}"}
    #copy
      #winner
        = render :partial => 'winner_overlay' if @game.winner 
      #battle
        = render :partial => 'battle' unless @game.winner

              
      
