- title "#{current_user.name}'s \"Who Will Save The World\"", false

- content_for :head do
  :javascript
    var finals = #{finals? ? true : false};
    $(document).ready(function() {
      if (#{allow_skip?}) $('#skip').show()
    });
    
#game
  #show{:rel => "#{duel_game_path(@game)}", 'givey:winners' =>  "#{winners_game_path(@game)}"}
    #copy
      #battle
        = render :partial => 'battle' unless @game.winner

- content_for :feet do
  #winner
    = render :partial => 'winner_overlay' if @game.winner

  #why_overlay
    = render :partial => 'why_overlay' unless @game.winner

  - if @game.winner
    :javascript
      $(document).ready(function() {
        activate_overlay('#winner_overlay');
      });


