- title "Givey.org Change The World Candidates 2011"

#candidates
  #index
    #copy.trans
      %h1 Who Is Going To Change The World?
      
      .row
        - @candidates.each do |candidate|
          .candidate.fleft
            .card{'givey:url' => candidate_path(candidate)}
              .frame
                .box
                  .top
                    .profile_pic= image_tag candidate.profile_pic
                    .name.cabin= candidate.name

                  .sc_menu_wrapper
                    .header
                      = "#{candidate.first_name}'s STORY"
                    .story
                      = candidate.candidates_story

          
            .fb_like        
              %fb:like{:href => "#{candidate_url(candidate, :only_path => false)}", :layout => "button_count", :show_faces => "false", :width => "50"}
            
      #pagination
        = will_paginate @candidates