- title "#{current_user.name}, you are now a Givey.org candidate!"

#candidate
  #story
    #copy.trans.row
      .fleft.sidebar
        .row
          .fleft.header
            %h1 Featured Cause
            = image_tag @cause.logo.url(:medium)
          .fleft.details
            %h2= @cause.name
            %p= @cause.summary
          #facebpile
            %fb:facepile{:href => "#{@cause.facebook_url}", :max_rows => "5", :width => "200"}
      
      .fleft.copy
        %h1= "Welcome #{current_user.first_name}.  So what would you do if YOU win?"
      
        - if User.candidates.count > 10
          %h2 Meet your competition
      
          - User.candidates.sort_by{rand}[0..9].each do |u|
            = image_tag u.profile_pic, :title => u.name, :alt => u.name
      
        %p
          Once the $25,000 is raised, a final contest will be held between 
          the top 36 candidates who received the most votes of confidence.
        
        %p
          If you're one of them, your story about what issues matter most to 
          you will help people decide who wins.  You will then get to dictate 
          how to split up the $25,000 among various 501(c)3 charities (don't worry
          we can help you pick the actual charities if you want).
        
        %h2 So what would you do with the $25,000 if you win?
        
        = form_for current_user, :url => submit_story_candidates_path, :html => {:class => 'candidates_story_form'} do |f|
          = f.text_area :candidates_story
          .share
            = f.check_box :candidate_post_story_to_wall, :checked => "checked"
            = f.label :candidate_post_story_to_wall, 'Share my story on Facebook'

          #actions
            = f.submit 'Submit', :class => "button"
      
      
      
      