= semantic_form_for [ :admin, @question ], :html => { :multipart => true }  do |f|
  = f.error_messages
  = f.inputs do 
    = f.input :name, :label => "Text", :hint => "e.g. Who is more likely to save the world."
    = f.input :value, :as => :radio, :collection => %w{-3 -2 -1 0 1 2 3}   
    = f.input :active
    = f.input :phrase, :hint => "e.g. _________ will save the world."
  = f.semantic_fields_for :backgrounds do |bg|
    = bg.inputs do
      = bg.input :photo, :as => :file
    = image_tag @question.backgrounds.first.photo.url(:thumb) if @question.backgrounds.first.photo.exists?
  = f.buttons