= semantic_form_for [ :admin, @question ] do |f|
  = f.error_messages
  = f.inputs do 
    = f.input :name, :label => "Text"
    = f.input :value, :as => :radio, :collection => %w{-3 -2 -1 0 1 2 3}   
    = f.input :active
    = f.input :story, :hint => "this is completely optional and will be displayed above the text"
  = f.buttons