#meet_a_candidate.row
  .sidebar.fleft
    = render :partial => 'shared/candidate', :object => candidate
  .main_panel.fleft
    %h2 This is what Givey.org is all about...
    
    %h3= "#{candidate.public_display_name} joined the movement to turn their $5 into $5000 for #{candidate.npo.name}.  Here's why..."
    
    %table.story
      %tr
        %td.open
          = image_tag "icons/quote_open.png"
        %td.middle
          = candidate.story
        %td.close_quotes
          = image_tag "icons/quote_close.png"
      
    
      #actions.row
        .fleft
          %b More on this later...
        .fright
          = link_to "Continue >>", '#', :class => "button close", :id => 'close_overlay' 