#your_story.row
  .sidebar.fleft
    %h4 Learn More About These Amazing Non-Profits...
    #npos
      - @npos.each do |npo|
        .npo.row
          .fleft
            .logo
              = link_to image_tag(npo.logo.url(:thumb)), npo.website, :target => "_blank", :title => "Click to learn more about #{npo.name}"
          .fleft.details
            .name= npo.name
            .summary= npo.summary
  .main_panel.fleft
    = form_for current_user, :html => {:id => 'user_story_form'} do |f|
      = hidden_field_tag 'to', new_donation_path
      = hidden_field_tag 'other_npo_id', ''
      %h1 What would you do with $5,000?
      %h2 Your favorite cause could end up getting $5,000 from Givey if you are voted as one of the most altruistic people on Facebook.
      .row
        .fleft.label What's your favorite cause?
        .fleft= f.select :npo_id, get_npo_options
      .row.other
        .fleft.label Charity name:
        .fleft= text_field_tag 'other_name'
      .row
        .label Why does this cause matter to you (in 255 words or less):
      .row
        = f.text_area :story
      .row
        %br
        .fleft.label Share my story on my Facebook wall
        .fleft= f.check_box :post_story_to_wall, 
      #actions.row
        .fright
          = f.submit "Next >>", :class => "button"