#sparks
  #end_round
    - if current_user.mturk?
      #mturks.trans
        %h2= "#{current_user.name}, here is your Mechanical Turk Confirmation Code:"
      
        %h1= mturk_confirmation_code
        
        %p Please return to the HIT on Mechanical Turk and enter this code along with your feedback for compensation.
    
    #copy.trans
      %h2 
        = image_tag "icons/lock64.png"
        We Need To Know More About You to Unlock Your Altruism Score.
      
      %p
        Awesome job so far.  Unfortunately, we need more of your friends to play Givey to safe and securely unlock your score and questions.
      
      %p
        If you're as altruistic as we hope, your cause could receive the $5,000 contributed by all of us.
      
      %h2.share Share Givey.org and we'll notify you via email as soon as enough of your friends have had their way with you.
  
      .share_actions.row
        .share_facebook.fleft= link_to '', "#", :class => "fb_share", :rel => current_user.referral_link  
        .share_twitter.fleft= link_to '', "http://twitter.com/share?text=#{CGI.escape(Question.active.sort_by{rand}.first.name+' Let me know on Givey.org')}&url=#{CGI.escape(current_user.referral_link)}"
      
      .share_email
        %h4 Or share with friends by email.
        %p 
          Give them this URL to analyze you on Givey:
          = text_field_tag 'link', current_user.referral_link
