#sparks
  #end_round
    #copy.trans
      %h2 
        = image_tag "icons/lock64.png"
        The Vault Is Closed Until We Learn More About You!
      
      %p
        Awesome job so far.  We've got a solid lead on how altruistic your friends are
        %b but
        unfortunately we (and this includes you) seem to know very little about you.
      
      %p
        To proceed, you're going to have to ask your friends to visit Givey.org 
        so they can provide some insight on what they think about you.
      
      %p
        If you're as altruistic as we hope, your vote for what to do with the $5,000
        we've all contributed could become a reality.
      
      %h2.share Share Givey.org and we'll notify you via email as soon as enough of your friends have had their way with you.
  
      .share_actions.row
        .share_facebook.fleft= link_to '', "#", :class => "fb_share", :rel => current_user.referral_link  
        .share_twitter.fleft= link_to '', "http://twitter.com/share?text=#{CGI.escape(Question.active.sort_by{rand}.first.name+' Let me know on Givey.org')}&url=#{CGI.escape(current_user.referral_link)}"
      
      .share_email
        %h4 Or share with friends by email.
        %p 
          Give them this URL to analyze you on Givey:
          = text_field_tag 'link', current_user.referral_link
