- title "How would you classify your friends?", false
- show_top_nav false

- content_for :head do
  = javascript_include_tag 'controllers/users'

#sparks
  #index
    #copy
      #question.trans
        %h1
          .question= @spark.question.name

      #playing_field
        = render(:partial => "shared/profile", :collection => @spark.friends)

      #score_board.row
        .spark_history.fleft= render :partial => 'shared/sparks', :collection => current_user.sparks.decided.order_by_latest 
        #counts.fright= render :partial => 'counts'

            
- content_for :feet do
  = link_to "trigger overlay", '#', :rel => "#overlay", :id => 'trigger_overlay', :class => "trigger"
  = link_to "trigger modal", '#', :rel => "#modal", :id => 'trigger_modal', :class => "trigger"
  #modal
  #overlay
    - if donation_overlay
      = render :partial => 'donation_complete'

        
        
