- title "How well do you know your friends?", false

- content_for :head do
  = javascript_include_tag 'controllers/users'

#sparks
  #index
    #copy
      #question.trans
        %h1.question= @spark.question.name

      #playing_field
        = render(:partial => "shared/profile", :collection => @spark.friends)

      #score_board.row
        #selected.fleft= render :partial => 'selected_list'
        #counts.fright= sparks_count_display

- content_for :feet do
  = link_to "trigger overlay", '#', :rel => "#overlay", :id => 'trigger_overlay', :class => "trigger"
  = link_to "trigger modal", '#', :rel => "#modal", :id => 'trigger_modal', :class => "trigger"
  #modal
  #overlay
    - if donation_overlay
      = render :partial => 'donation_complete'

        
        
