- title "#{current_user.name}'s Friends", false
- show_top_nav false

- content_for :head do
  :javascript
    $(document).ready(function() {
      exec_new();
    });

    
#spark
  #new{'givey:url' => "#{sparks_path}"}
    #copy
      #please_wait.trans
        %h1.title Please Wait...
      
        %h2.msg.p1
          We're talking to Facebook about your friends...
      
        %h2.msg.p2
          And preparing 
          %span.num_q 20 
          thought-provoking Givey questions about them...
        
        %h2.msg.p3
          To determine if they are destined for greatness (or something else)...

        %h2.msg.p4
          And when you are done talking about them...
          
        %h1.msg.p5.you
          You can find out what they think about you!
          
        .msg.p6
          Your questions should be ready in a minute or so.
        
        .spinner.wait
          = image_tag "spinner.gif", :title => "Spinner"
          
        #actions
          = button_to "Please Wait...", '#', :id => "wait_btn", :disabled => true, :class => "wait"
          = button_to "You Ready?  Let's Go >>", '#', :id => "next_btn", :class => "button", :rel => "" 
          
      #try_later.trans
        %h1 Sorry, but Facebook seems overloaded with givers right now
        
        %p Please give it a few minutes and then refresh this page.  Hopefully the traffic will have died down by then.
        

      #npos.row
        - Npo.active.featured.each do |n|
          .npo.fleft.trans= image_tag n.logo.url(:thumb)