- title "#{current_user.name}'s Friends", false

- content_for :head do
  :javascript
    $(document).ready(function() {
      url = $('#new').attr('givey:url');
      $.post(url, function(data) {
         if (data.status == 'complete') {
           $('.wait').hide();
           $('#next_btn').attr('rel',data.url).fadeIn();
           $('.title').text("We're Ready For You!").css('color','red')
         }
        })

        $('#wait_btn').click(function() {
          return false;
        });
        
        $('#next_btn').click(function() {
          location.href = $(this).attr('rel')
          return false;
        });
    });

    
#spark
  #new{'givey:url' => "#{sparks_path}"}
    #copy
      #please_wait.trans
        %h1.title Please Wait. We're mixing it up...
      
        %p.wait
          Your questions should be ready in a minute or so
        
        .spinner.wait
          = image_tag "spinner.gif", :title => "Spinner"
          
        #actions
          = button_to "Please Wait...", '#', :id => "wait_btn", :disabled => true, :class => "wait"
          = button_to "Ready?  Let's Go >>", '#', :id => "next_btn", :class => "button", :rel => "" 
          
      #try_later.trans
        %h1 Sorry, but Facebook seems overloaded with givers right now
        
        %p Please give it a few minutes and then refresh this page.  Hopefully the traffic will have died down by then.
        

      #npos.row
        - Npo.all.each do |n|
          .npo.fleft.trans= image_tag n.logo.url(:thumb)