- title "#{current_user.name}'s Campaign", false
- content_for :head do
  = javascript_include_tag 'jquery.mousewheel', 'jquery.jscrollpane.min'
  :javascript
    $(document).ready(function() {
      $('.sc_menu_wrapper').jScrollPane();
      
      $('.box').live("mouseover",function(e){
        $(this).addClass('highlight')
      }).live("mouseout",function(e){
        $(this).removeClass('highlight')
      }).live("click",function(){
        url = $('#show').attr('rel');
        duel = $(this).attr('givey:duel');
        uid = $(this).attr('givey:uid');
        
        options = { to: ".winner:first", className: "ui-effects-transfer"};
        $(this).closest('.card').effect('transfer',options,500,loadDuel());
        
        return false;
      })
      
      function loadDuel() {
        $('#playing_field').fadeOut();
        $.ajax({
          url: url,
          data: {'uid':uid, 'duel':duel},
          type: 'POST',
          success: function(resp) {
          console.log(resp)
              if (resp.status == 'duel') {
                $('#playing_field').html(resp.html).fadeIn('fast');
                $('.sc_menu_wrapper').jScrollPane();
                loadWinners();
                changeStats(resp);
              } 
           }
          })
        }
        
        function changeStats(resp) {
          $('.stats').text("Round " + resp.duel_count + " of " + resp.total_duels)
        }
        
        function loadWinners() {
          $('#winners').load($('#show').attr('givey:winners'));
        }
    });
    
    
#match
  #show{:rel => "#{match_match_duel_path(@match)}", 'givey:winners' =>  "#{match_match_winners_path(@match)}"}
    #copy
      %h1 Of these friends, whose more likely to save the world?
      
      %h2.stats= "Round #{@duel_count} of #{@total_duels}."
      
      #playing_field= render(:partial => "challenger", :collection => @challengers)
      #winners= render :partial => "winners"

              
      
