- title "Category: #{@category.name}"

#admin
  #category
    #show
      = fieldset_for @category, 'Details', :name, :active

      #actions
        = link_to "Edit", edit_admin_category_path(@category)
        |
        = link_to "Destroy", admin_category_path(@category), :confirm => 'Are you sure?', :method => :delete
        |
        = link_to "View All", admin_categories_path
