- title "Pick Your Friends"

- content_for :head do
  = stylesheet_link_tag 'jquery/flick/jquery-ui'
  = javascript_include_tag 'jquery-ui-1.8.7.custom.min'

  :javascript
    $(document).ready(function() {
      $('.friend').live('click',function() {
        $('.qtip').hide();
        $(this).fadeOut();
        friends_selected -= 1;
        uid = $(this).attr('rel');
        $('#friend_list').load("#{remove_friend_campaign_path(@campaign)}?uid="+uid,'',function(){
          $('a[title]').qtip({ style: { name: 'dark', tip: true } });
          next_check();
        })
        return false;
      });
      
      var friend_list = #{get_all_friends};
      
      $("#imageSearch").autocomplete({         
          source: friend_list,
          minLength: 0,
    			select: function( event, ui ) {
    			  if (!ui.item.in_list) {
              friends_selected += 1;
              $('#friend_list').load("#{add_friend_campaign_path(@campaign)}",{'u': ui.item},function(){
                $('a[title]').qtip({ style: { name: 'dark', tip: true }});
                $('a[rel='+ui.item.uid+']').hide().fadeIn();
                next_check();
                update_source_list(ui.item.uid);
              })
            }
            $(this).val('');
    				return false;
    			}  
      }).data( "autocomplete" )._renderItem = function(ul, item) {
          if (item.in_list) {
            str = "<a><img src='" + item.pic_square +"' class='profile_pic'><span class='friend_name selected'>" + item.label + "<span class='in_list_msg'>Selected</span></span></a>"              
          } else {
            str = "<a><img src='" + item.pic_square +"' class='profile_pic'><span class='friend_name'>" + item.label + "</span></a>"
          }
           return $("<li></li>")
              .data("item.autocomplete", item)
              .append(str)
              .appendTo( ul );
      }  
      
      var friends_selected = #{@friend_list.count};
      minimum_friends_needed = #{@campaign.slots_available};
      
      function next_check() {
        if (friends_selected >= minimum_friends_needed) {
          $('#action').show()
        } else {
          $('#action').hide()
        }
      }
      
      function update_source_list(uid) {
        for (var ndx in friend_list) {
          var item = friend_list[ndx]
          if (item.uid == uid) {
            friend_list[ndx].in_list = true;
          }
        }
        $( "#imageSearch" ).autocomplete( "option", "source",friend_list);
      }
      
      next_check();

    });
    

#campaign
  #friends
    #copy
      %h1 
        You Asked For
        = @campaign.slots_available
        We Gave You 
        = @number_of_friends_to_select
      %p
        We've randomly selected 
        = @number_of_friends_to_select
        of your friends instead of 
        = @campaign.slots_available
        since some will simply not respond to your plea.  
        Sad we know.
        
      %h2
        Here's who we selected...
        
      #friend_list= render :partial => "friend_list", :collection => @friend_list
      %p.remove_msg Click any pic to remove them from your invite list.

      %h2
        or pick your own lab rats...
      
      = text_field_tag 'friend', '', :id => "imageSearch", :autocomplete => "off"
      
      #action
        = button_to "Next >>", paypal_redirect_campaign_path(@campaign)

        
      / TODO Add a BACK button
        
        
        