- title "Campaigns"

%table
  %tr
    %th User
    %th Slots available
    %th Slot value
    %th Video guid
    %th Completed at
  - for campaign in @campaigns
    %tr
      %td= campaign.user_id
      %td= campaign.slots_available
      %td= campaign.slot_value
      %td= campaign.video_guid
      %td= campaign.completed_at
      %td= link_to 'Show', campaign
      %td= link_to 'Edit', edit_campaign_path(campaign)
      %td= link_to 'Destroy', campaign, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Campaign", new_campaign_path
