- title "#{current_user.name}'s Campaign", false

#campaign
  #new
    #copy
      %h1= "Okay #{current_user.first_name},"
      %h2 Let's make this quick, painless and game changing
      
      %p
        The goal here is to make donating to innovative 
        non-profits
        %b "interesting."
        
      %p
        So here's the deal - you're going to give your friends 
        a choice; either donate the funds you give them to one of 
        the 
        = link_to "amazing non-profits", '#'
        that we work with 
        %b or
        keep the money for themselves.
        
      %h2.margin_top_2 Umm, Why?
      
      %p
        Because let's face it, donating is boring so might as well 
        make it interesting.
        
      %h2.margin_top_2 Ok, let's do this
      
      #call_to_action
        = form_for @campaign do |f|
          I want to give 
          = f.select :slot_value, options_for_select([['$1',1],['$2',2],['$5',5],['$10',10],['$15',15],['$20',20],['$25',25]],5)
          to         
          = f.select :slots_available, options_for_slots_available
          friends.
        
          .tip_for_givey
            = f.check_box :givey_tip
            = f.label :givey_tip, "Please include an equal share for Givey.org to help support projects like this."
        
          %br
          %br
          = submit_tag 'Next >>'