- title "Redirecting to PayPal...", false
- hide_login_info

#campaign
  #paypal_redirect
    %h1= "#{current_user.first_name}, we are redirecting you to PayPal for the donation..."
      
    %h2
      Please wait a moment.
      
    %p
      If you are not redirect in 10 seconds, please 
      = link_to "click here.", '#', :id => 'pp_click'
      
    = form_tag APP_CONFIG[:paypal]['url'], :id => 'paypal_form' do
      = hidden_field_tag :cmd, "_s-xclick"
      = hidden_field_tag :encrypted, @campaign.paypal_encrypted(record_video_campaign_url(@campaign), payment_notifications_url(:secret => APP_CONFIG[:paypal]['secret']), new_campaign_url(@campaign))

:javascript
  $(function(){
    // window.setTimeout("$('#paypal_form').submit();",2000);
    
    $('#pp_click').click(function(){
      $('#paypal_form').submit();
      return false;
    })
  })       
  
