- title "Campaign"

%p
  %strong User:
  = @campaign.user_id
%p
  %strong Slots Available:
  = @campaign.slots_available
%p
  %strong Slot Value:
  = @campaign.slot_value
%p
  %strong Video Guid:
  = @campaign.video_guid
%p
  %strong Completed At:
  = @campaign.completed_at

%p
  = link_to "Edit", edit_campaign_path(@campaign)
  |
  = link_to "Destroy", @campaign, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", campaigns_path
