= form_for @npo do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :website
    %br
    = f.text_field :website
  %p
    = f.label :email
    %br
    = f.text_field :email
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.label :category_id
    %br
    = f.text_field :category_id
  %p
    = f.label :feature
    %br
    = f.check_box :feature
  %p
    = f.label :num_featured
    %br
    = f.text_field :num_featured
  %p
    = f.label :active
    %br
    = f.check_box :active
  %p
    = f.label :summary
    %br
    = f.text_field :summary
  %p
    = f.submit
