- title "Our Awesome Non-Profits"

#npos
  #index
    #copy.trans
      %h1 Amazing Non-Profits We Givey With.
    
      - @npos.each do |npo|
        .npo.row
          .fleft
            .logo= image_tag npo.logo.url(:medium)
          .fleft.details
            %h3= npo.name
            %p= npo.summary
            %p= link_to npo.website, npo.website, :target => "_blank"
            .links
              .facebook= link_to image_tag("icons/facebook_64.png"), npo.facebook_url unless npo.facebook_url.blank?
              .twitter= link_to image_tag("icons/twitter_32.png"), npo.twitter_name unless npo.twitter_name.blank?
            