- title "Non Profit Organizations (NPO)"
#admin
  #npos
    #index
      #search
        = form_tag request.path, :method => 'get',  do |f|
          = label_tag 'Search:' 
          = text_field_tag :search, session[:search]
          - unless session[:search].blank?
            = link_to "reset", admin_npos_url(:reset => '1')
    
      = table_for(@npos) do |t|
        = t.data :actions => :all, :action_prefix => :admin do 
          = t.cell(:logo) {|p| image_tag(p.logo.url(:thumb)) if p.logo.exists?} 
          = t.cell(:category)
          = t.cell(:name)
          
      = will_paginate @npos

      #actions= link_to "+ New Non Profit Organization (NPO)", new_admin_npo_path
