- title "NPO: #{@npo.name}"

#admin
  #npo
    #show
      = image_tag @npo.logo.url if @npo.logo.exists?
      - if @npo.category
        = fieldset_for @npo, 'General', :name, :website, ['Category',@npo.category.name], :paypal_email, :tax_id
      - else
        = fieldset_for @npo, 'General', :name, :website, ['Category','n/a'], :paypal_email, :tax_id
      = fieldset_for @npo, 'Status', :active, :feature, :num_featured
      = fieldset_for @npo, 'Overview', :summary, :description, :story
      = fieldset_for @npo, 'Contact Details', :attention, :email, :address_1, :address_2, :city, :state, :zip_code
      = fieldset_for @npo, 'Overview', :twitter_name, :facebook_url, :guidestar_url

    #actions
      = link_to "Edit", edit_admin_npo_path(@npo)
      |
      = link_to "Destroy", admin_npo_path(@npo), :confirm => 'Are you sure?', :method => :delete
      |
      = link_to "View All", admin_npos_path
