!!!
%html{:xmlns => 'xmlns:fb="http://www.facebook.com/2008/fbml"'}
  %head
    %title
      = yield(:title) || "Givey.org Admin System"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    = stylesheet_link_tag 'compiled/application', 'jquery/flick/jquery-ui', "compiled/public/#{controller.controller_name}", 'supersized.core'
    = javascript_include_tag :defaults, 'jquery-ui.min.js', 'jquery.tools.min.js',  'jquery.mousewheel', 'jquery.jscrollpane.min', 'supersized.3.1.core', 'jquery.qtip.min'
    = javascript_include_tag "controllers/#{controller.controller_name}"
    = javascript_include_flash
    = csrf_meta_tag
    = hoptoad_javascript_notifier
    = yield(:head)
    :javascript
      randomSlide = [{image : '#{get_background}'}]
    = render :partial => '/shared/get_satisfaction_javascript'

  %body
    #main.wrapper
      #flash{:class => flash_class}
        #flash_close
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"

      #header
        = render :partial => 'shared/public_header'
    
      #container
        = yield
  
      .push
      
    #footer
      = render :partial => 'shared/public_footer'

    = render :partial => 'shared/fb_root'
    = render :partial => 'shared/google_analytics'
    = yield(:feet)

    
    